<button class="btn btn-primary" routerLink="/home">Change Class</button>
<button class="btn btn-primary" routerLink="/student-registration">Register Student</button>
<button class="btn btn-primary" routerLink="/issue-card">Issue Crad</button>
<button class="btn btn-primary" routerLink="/mark-card">Mark Card</button>
<form class="student-registration" #f="ngForm" (ngSubmit)="register(f)">
  <h1 class="h3 mb-3 font-weight-normal">Student Registration</h1>
  <h1 class="h4 mb-3 font-weight-normal">Grade {{classDetail.grade}} {{classDetail.subject}}</h1>
  <h1 class="h5 mb-3 font-weight-normal">Student number {{studentNumber}}</h1>

  <label for="studentName" class="sr-only">Student Name</label>
  <input ngModel #name name="name" type="text" id="studentName" class="form-control" placeholder="Student Name" required autofocus>

  <label for="phoneNo" class="sr-only">Phone Number</label>
  <input ngModel #phone name="phone" type="number" id="phoneNo" class="form-control" placeholder="Phone Number" required autofocus>

  <label for="school" class="sr-only">School</label>
  <input ngModel #school name="school" type="text" id="school" class="form-control" placeholder="School" required>

  <label for="address" class="sr-only">Address</label>
  <input ngModel #address name="address" type="text" id="address" class="form-control" placeholder="Address" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>