
<app-main-page></app-main-page>
<form class="student-registration" #f="ngForm" (ngSubmit)="register(f)">
  <h1 class="h3 mb-3 font-weight-normal">Student Registration</h1>
  <h1 class="h4 mb-3 font-weight-normal">Grade {{classDetail.grade}} {{classDetail.subject}}</h1>
  <h1 class="h5 mb-3 font-weight-normal">Student number {{studentNumber}}</h1>
  <div class="container">
      <mat-form-field>
        <input ngModel name="name" type="text" #name matInput required placeholder="Student Name">
      </mat-form-field>
      <mat-form-field>
        <input ngModel name="phone" type="number" #phone matInput required placeholder="Phone Number">
      </mat-form-field>
      <mat-form-field>
        <input ngModel name="school" type="text" #school matInput required placeholder="School">
      </mat-form-field>
      <mat-form-field>
        <input ngModel name="address" type="text" #address matInput required placeholder="Address">
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Register</button>
</form>

