<button class="btn btn-primary" routerLink="/home">Change Class</button>
<button class="btn btn-primary" routerLink="/student-registration">Register Student</button>
<button class="btn btn-primary" routerLink="/issue-card">Issue Crad</button>
<button class="btn btn-primary" routerLink="/mark-card">Mark Card</button>

<div class="container">
    <form #f="ngForm" (ngSubmit)="create(f)" class="form-class-add">
        <h1 class="h3 mb-3 font-weight-normal">Add new class</h1>
        <label for="inputGrade" class="sr-only">Grade</label>
        <input ngModel #grade name="grade" type="text" id="grade" class="form-control" placeholder="Grade" required autofocus>
        <label for="inputSubject" class="sr-only">Subject</label>
        <input ngModel #subject name="subject" type="text" id="inputSubject" class="form-control" placeholder="Subject" required>
        <button class="btn btn-lg btn-primary btn-block">Add</button>
      </form>
</div>
