  <div class="sticky-top">
    <div class="list-group">
      <button class="list-group-item list-group-item-action" 
      *ngFor="let c of classes"
      (click)="view(c)"
      >Grade {{c.grade}} {{c.subject}}</button>
    </div>
  </div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Student ID</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>School</th>
      <th>Last Payment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of students">
      <td>{{s.studentDetails.name}}</td>
      <td>{{s.studentNumber}}</td>
      <td>{{s.studentDetails.address}}</td>
      <td>{{s.studentDetails.phone}}</td>
      <td>{{s.studentDetails.school}}</td>
      <td>{{s.cardIssueDate.date}}</td>
    </tr>
  </tbody>
</table>
